@model List<DemirbasData.Model.Item>


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container">
        <a href="javascript:history.back()" class="btn btn-warning" style="border-radius: 50px;">
            <i class="fas fa-chevron-left"></i> Go Back
        </a>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Item List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                        <a asp-controller="Item" asp-action="Create" class="btn btn-success "> <i class="fas fa-plus"></i>
                            <span>Create Item </span>
                       </a>
                        <a asp-controller="Item" asp-action="AssignedItemList" class="btn btn-info ">
                            <span>Assigned Items List</span>
                        </a>
                        <a asp-controller="Item" asp-action="UnassignedItemList" class="btn btn-warning  ">
                            <span>Unassigned Items List </span>
                        </a>
                    </div>                 
                    
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Item Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Employee
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Serial Number
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        @if (item.EmployeeId != null)
                                        {
                                            <td>@item.Employee.Name @item.Employee.Surname</td>
                                        }
                                        else
                                        {
                                            <td>Unassigned</td>
                                        }
                                        <td>@item.ItemType.Name</td>
                                        <td>@item.SerialNumber</td>
                                        <td>
                                           @* <a asp-controller="Item" asp-action="AssignItem" asp-route-id="@item.Id" class="btn btn-success">
                                                Assign

                                            </a>*@
                                            <a asp-controller="Item" asp-action="Update" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-pencil-alt"></i>
                                                Update
                                            </a>

                                            <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i>
                                                Delete
                                            </a>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
