<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="@Url.Action("Index","Home")" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Home Page
                    </p>
                </a>
            </li>
             <li class="nav-item">
                <a href="@Url.Action("Index","DeliveryHistory")" class="nav-link">
                    <i class="fas fa-history"></i>
                    <p>
                        Delivery History
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Department")" class="nav-link">
                    <i class="fas fa-building"></i>
                    <p>
                        Department
                    </p>
                </a>
            </li>
             <li class="nav-item">
                <a href="@Url.Action("Index","Item")" class="nav-link">
                    <i class="fab fa-elementor"></i>
                    <p>
                        Item
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","ItemType")" class="nav-link">
                    <i class="fab fa-elementor"></i>
                    <p>
                        Item Type
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","User")" class="nav-link">
                    <i class="fas fa-user"></i>
                    <p>
                        User
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>