@model List<DemirbasData.Model.User>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>User List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary ">
                <span>Create User </span>
            </a>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table table-striped my-2">
            <thead>
                <tr>
                    <th>
                        User Name
                    </th>
                    <th>
                        User Surname
                    </th>
                    <th>
                        Department
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Department.Name</td>
                        <td>
                            <a asp-controller="User" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">
                                Update
                            </a>

                            <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

